<ng-template #footerTemplate let-columns>
  @if (aggregation()) {
    @for (row of aggregation(); track $index; let i = $index ) {
      <tr>
        @for (cell of row; track $index; let j = $index) {
          <td 
            [attr.colspan]="cell.colSpan"
            pFrozenColumn
            [frozen]="cell.isFrozen || false"
            [alignFrozen]="cell.alignFrozen || 'left'"
            style="font-weight: 600;"
          >
            <!-- {{ executeAggregation(cell.func) }} -->
            {{aggResults()[i][j]}}
          </td>
        }
      </tr>
    }
  }
</ng-template>
