<ng-template #footerTemplate let-columns>
  @if (aggregation()) {
    @for (row of aggregation(); track $index) {
      <tr>
        @for (cell of row; track $index) {
          <td 
            [attr.colspan]="cell.colSpan"
            pFrozenColumn
            [frozen]="cell.isFrozen || false"
            [alignFrozen]="cell.alignFrozen || 'left'"
            style="font-weight: 600;"
          >
            {{ executeAggregation(cell.func) }}
          </td>
        }
      </tr>
    }
  }
</ng-template>
