<ng-template #template let-columns>
  @if (!isGroupMode()) {
    <!-- Normal Mode - All columns -->
    <tr>
      @if (expandable()) {
        <th style="width: 5rem" pFrozenColumn [frozen]="freezeExpansion() || false" pResizableColumn></th>
      }
      
      @if (selectionMethod() === 'checkbox') {
        <th style="width: 4rem" pFrozenColumn [frozen]="freezeSelection() || false" pResizableColumn>
          <p-tableHeaderCheckbox />
        </th>
      } @else if (selectionMethod() === 'radiobutton') {
        <th style="width: 4rem" pFrozenColumn [frozen]="freezeSelection() || false" pResizableColumn></th>
      } 
      
      @if (columns) {
          @for (column of columns; track ($index + 'header')) {
            <th
              [pSortableColumn]="column.sortable ? column.field : undefined"
              pReorderableColumn="column.field"
              pFrozenColumn
              [frozen]="column.isFrozen"
              pResizableColumn
              [pResizableColumnDisabled]="!column.resizable"
              [alignFrozen]="column.alignFrozen"
              [ngStyle]="{ width: column.width }"
            >
              <div class="header-cell">
                <div class="header-title">
                  {{ column.header }}
                  @if(column.sortable){
                    <p-sortIcon [field]="column.field" />
                  }
                </div>
                @if (column.filterable) {
                  <p-column-filter
                    [type]="column.filterType || 'text'"
                    [field]="column.field"
                    display="menu"
                  />
                }
              </div>
            </th>
   
        }

      }
    </tr>
  } @else {
    <!-- Group Mode - Simple header WITHOUT select-all checkbox -->
    <tr>
      <!-- ✅ NEW: Checkbox in first column (yellow circle) -->
      <th style="width: 4rem; text-align: center;">
        <p-tableHeaderCheckbox />
      </th>
      <th style="width: 3rem;"></th>
      <th>{{ groupFieldHeader() }}</th>
      <th style="text-align: center;" [attr.colspan]="totalColumnCount() - 3">Count</th>
    </tr>
  }
</ng-template>
