.caption-filter-popover-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 18px 88px -4px #26323824, 0 8px 28px -6px #2632381F;
}


.caption-filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    padding-inline: 1.5rem 1rem;
    padding-block: 0.75rem;
    border-bottom: 1px solid #CFD8DC;
}

.caption-filter-title {
    font-weight: 400;
    letter-spacing: 0.15px;
    margin: 0;
}

.caption-filter-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.caption-filter-footer {
    display: flex;
    gap: 0.5rem;
    justify-content: end;
    background-color: #F7F9FB;
    padding: 0.5rem 1.5rem;
    align-items: center;

}

i {
    cursor: pointer;
}

.filter-input-field {
    color: #263238;
    font-weight: 400;
}

.filter-label {
    color: #455A64 !important;
}

.caption-title {
    margin: 0;
    color: #455A64;
}

.filter-chip {
    border-radius: 2px;
}

.filter-chip-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap
}