<p-toast position="top-right" />

<app-table #dahabTable [tableConfig]="tableConfig()" [(data)]="data" [(selectedProducts)]="selectedRows">
  <!-- <ng-template #captionTemplate>
    <p>Passed Caption</p>
  </ng-template> -->
  <!-- <ng-template #headerTemplate let-cols>
    <tr>
      @for (col of cols; track ($index + 'header_col')) {
      <th>col: {{ col.header }}</th>
      }
    </tr>
  </ng-template> -->

  <!-- <ng-template #bodyTemplate let-product let-columns="columns">
      
    <tr>
      @for (col of columns; track ($index + 'body_col')) {
      <td>passed: {{ product[col.field] }}</td>
      }
    </tr>
  </ng-template> -->

  <ng-template #captionActionTemplate>
    <p-button label="Log Selected" (click)="logSelected()"  />
  </ng-template>
  <ng-template #customColumnDesign let-product>
    <p-badge [value]="product.price" [severity]="colstyle(product)" />
  </ng-template>
  <ng-template #customActionColumn let-product>
    <p-button label="Log Value" (click)="logValue(product)" 
      outlined />
  </ng-template>

  <ng-template #rowExpanssionTemp let-item>
    <app-table [tableConfig]="subTableConfig" [data]="item.subTable"> </app-table>
  </ng-template>

  <ng-template #subRowExpanssionTemp let-subItem>
    <app-table [tableConfig]="subSubTableConfig" [data]="subItem.history">
    </app-table>
  </ng-template>

  <!-- <ng-template #footerTemplate>
    <p>Passed Footer</p>
  </ng-template> -->
</app-table>