<app-table [tableConfig]="tableConfig">
  <!-- <ng-template #captionTemplate>
    <p>Passed Caption</p>
  </ng-template> -->
  <!-- <ng-template #headerTemplate let-cols>
    <tr>
      @for (col of cols; track ($index + 'header_col')) {
      <th>col: {{ col.header }}</th>
      }
    </tr>
  </ng-template> -->

  <!-- <ng-template #bodyTemplate let-product let-columns="columns">
      
    <tr>
      @for (col of columns; track ($index + 'body_col')) {
      <td>passed: {{ product[col.field] }}</td>
      }
    </tr>
  </ng-template> -->

  <ng-template #filter let-value let-filter="filterCallback">
    <p-select
      [(ngModel)]="value.quantity"
      (onChange)="filter($event.value)"
      placeholder="Select One"
      class="w-full"
    >
      <ng-template let-option #item>
        <p-tag [value]="option.value"></p-tag>
      </ng-template>
    </p-select>
  </ng-template>

  <!-- <ng-template #footerTemplate>
    <p>Passed Footer</p>
  </ng-template> -->
</app-table>
