<p-table
  #dt
  [columns]="_generatedTableConfig().columns"
  [value]="_generatedTableConfig().value || []"
  [loading]="_generatedTableConfig().isLoading"
  [size]="_generatedTableConfig().size"
  [showGridlines]="_generatedTableConfig().showGridlines"
  [stripedRows]="_generatedTableConfig().stripedRows"
  [paginator]="_generatedTableConfig().paginator"
  [rows]="_generatedTableConfig().rows"
  [first]="_generatedTableConfig().first"
  [showCurrentPageReport]="_generatedTableConfig().showCurrentPageReport"
  [currentPageReportTemplate]="_generatedTableConfig().currentPageReportTemplate || ''"
  [rowsPerPageOptions]="[5, 10, 20]"
  [lazy]="_generatedTableConfig().lazy"
  (onLazyLoad)="undefiendHandler(_generatedTableConfig().onLazyLoading,$event)"
  [totalRecords]="_generatedTableConfig().totalRecords || 0"
>
  <!----------- Passed Sections ----------->
  @if (captionTemplate) {
  <ng-template #caption>
    <ng-container [ngTemplateOutlet]="captionTemplate"></ng-container>
  </ng-template>

  } @if (headerTemplate) {
  <ng-template #header>
    <ng-container
      [ngTemplateOutlet]="headerTemplate"
      [ngTemplateOutletContext]="{ $implicit: _generatedTableConfig().columns }"
    ></ng-container>
  </ng-template>

  } @if (bodyTemplate) {
  <ng-template #body let-product>
    <ng-container
      [ngTemplateOutlet]="bodyTemplate"
      [ngTemplateOutletContext]="{ $implicit: product, columns: _generatedTableConfig().columns }"
    ></ng-container>
  </ng-template>
  } @if (footerTemplate) {
  <ng-template #footer>
    <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
  </ng-template>

  }

  <!----------- Defaul Sections ----------->

  <!-- Caption Section -->

  @if (!captionTemplate) {
  <ng-template #caption>
    <app-caption [dt]="dt" />
  </ng-template>
  }

  <!-- Header Section -->
  @if (!headerTemplate) {
  <ng-template #header>
    <tr>
      @for (column of _generatedTableConfig().columns; track ($index + 'header')) {
      <th [pSortableColumn]="column.sortable ? column.field : undefined">
        <app-header [column]="column"></app-header>
        <!-- <ng-container [ngTemplateOutlet]="column.filterTemplate"></ng-container> -->
      </th>
      }
    </tr>
  </ng-template>
  }
  <!-- Body Section -->
  @if (!bodyTemplate) {
  <ng-template #body let-product let-columns="columns">
    <tr [ngStyle]="product._sytle" [ngClass]="product._class">
      @for (col of columns; track ($index + 'body_col')) {
      <td>
        <app-body [column]="col" [data]="product" />
      </td>
      }
    </tr>
  </ng-template>
  }

  <!-- Footer Section -->
  @if (!footerTemplate) {
  <ng-template #footer>
    <tr>
      <td colSpan="100%">
        <app-footer />
      </td>
    </tr>
  </ng-template>
  }
</p-table>
